 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #1C1D1D;
active-foreground: #C4C7C7;
normal-background: #191919;
normal-foreground: #C4C7C7;
urgent-background: #515B5C;
urgent-foreground: #C4C7C7;

alternate-active-background: #181919;
alternate-active-foreground: #C4C7C7;
alternate-normal-background: #191919;
alternate-normal-foreground: #C4C7C7;
alternate-urgent-background: #191919;
alternate-urgent-foreground: #C4C7C7;

selected-active-background: #515B5C;
selected-active-foreground: #C4C7C7;
selected-normal-background: #515B5C;
selected-normal-foreground: #C4C7C7;
selected-urgent-background: #1C1D1D;
selected-urgent-foreground: #C4C7C7;

background-color: #191919;
background: rgba(0,0,0,0.7);
foreground: #C4C7C7;
border-color: #1C1D1D;

color0: #3F4040;
color1: #121313;
color2: #121313;
color3: #121313;
color4: #151616;
color5: #3D4445;
color6: #404748;
color7: #A2A7A7;
color8: #717575;
color9: #181919;
color10: #181919;
color11: #181919;
color12: #1C1D1D;
color13: #515B5C;
color14: #555F60;
color15: #A2A7A7;


}

